*{
    margin: 0;
    padding: 10px;
    color: rgb(0, 166, 255);
}

ul {
    font-size: 1.2cm;
    padding-left: 60px;
    list-style:decimal;

}
 
ul li{
    margin: 15px;
    height: 50px;
    width: 360px;
    border: 1px solid  chartreuse;
    line-height: normal;
}

ul li:hover{
    z-index: 999;
    border: 1px solid rgb(0, 166, 255);
    color:chartreuse;
}

ul b{
    height: 100px;
    width: 200px;
    color: crimson;
    list-style: none;
    font-size: larger;
}


ul a{ 
    list-style: none;
    font-size: larger;  
    padding-left: 10px;
    color: crimson;
}

ul a:hover{
    color: chartreuse;
}
