*{
    margin: 0;
    padding: 10px;
    color: rgb(0, 166, 255);
}

li:hover{
    color:crimson;
}

ul ul b{

    color: black;
    list-style: none;
    font-size: larger;
}

ul {
    font-size: 1.3cm;
    padding-left: 50px;
    list-style:decimal;

}
 
ul a{ 
    
    list-style: none;
    font-size: larger;  
    padding-left: 10px;
    color: crimson;
}

ul a:hover{
    color:rgb(0, 166, 255);
}
